

* {
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

#header {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: brown;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 95%;
}

#lateral-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
}

#default-projects-container nav{
    display:flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

#default-projects-container nav >* {
    padding: 0.3rem;
}

#personal-projects-container {
    padding-left: 1rem;
}

#personal-projects-container ul{
    padding-left: 1rem;
    margin: 0;
}

#ul-title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.3rem;
    border-bottom: solid 1px gray;
}

#ul-title::after {
    content: "+";
    color: red
}

#personal-projects-container ul >* {
    padding: 0.3rem;
}

#tasks-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

#tasks-container >*{
    padding: 0.5rem;
}

#task-form-container {
    position: absolute;
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

#task-form {
    background-color: brown;
    width: 20%;
    height: min-content;
    padding: 1rem;
    border-radius: 3%;
}

#task-form > * {
    display: flex;
    flex-direction: column;
}

#task-form input {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

#add-task-btn {
    margin: auto;
}


.task-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.erased, .erased .task-priority {
    
    color: gray;
}

.task-header {
    margin: 0;
    align-self: center;
    pointer-events: none;
}

.task-date {
    justify-self: end;
    margin:0;
    padding: 0.3rem;
    pointer-events: none;
}

.task-priority {
    font-size: 0.8rem;
    color: red;
    pointer-events: none;
}

.task-remove-btn{
    background-image: url(../images/removeicon.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5%;
    justify-self: right;
}

#add-task {
    color:gray;
    width: max-content;
}

#add-task:hover {
    cursor: pointer;
}

#add-task::before {
    content: "+";
    padding-right: 0.3rem;
    color: red;
}